<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">


</head>
<body>
<h1 class="h1">
    <a href="/">Groupie Tracker</a>
</h1>

<div class="search-container">
    <form action="/search" method="get">
        <input name="s" type="text" id="search" placeholder="Search..." required oninput="showSuggestions(this.value)">
    </form>
    <div id="suggestions"></div>
</div>
<form class="filter-form" action="/filter" method="post">
    <div>
        <label>Creation date :</label><br>
        <input type="number" id="creation_date_min" value="this.value" max="2015" min="1958"
            name="creation_date_min"><label for="creation_date_min">min</label>
        <input type="number" id="creation_date_max" value="this.value" max="2015" min="1958"
            name="creation_date_max"><label for="creation_date_max">max</label>
    </div>

    <div>
        <label>First album date :</label><br>
        <input type="number" id="first_album_date" value="this.value" max="2020" min="1958" name="first_album_max">
        <input type="number" id="first_album_date" value="this.value" max="2020" min="1958" name="first_album_min">
    </div>

    <div class="range-container">
        <label>Number of Members:</label>
    
        <input type="checkbox" name="num_members_1" id="members" value="1">
        <label for="num_members_1">1</label>
        <input type="checkbox" name="num_members_2" id="members" value="2">
        <label for="num_members_2">2</label>
    
    
        <input type="checkbox" name="num_members_3" id="members" value="3">
        <label for="num_members_3">3</label>
    
        <input type="checkbox" name="num_members_4" id="members" value="4">
        <label for="num_members_4">4</label>
    
        <input type="checkbox" name="num_members_5" id="members" value="5">
        <label for="num_members_5">5</label>
    
        <input type="checkbox" name="num_members_6" id="members" value="6">
        <label for="num_members_6">6</label>
    
        <input type="checkbox" name="num_members_7" id="members" value="7">
        <label for="num_members_7">7</label>
    
        <input type="checkbox" name="num_members_8" id="members" value="8">
        <label for="num_members_8">8</label>
    </div>
        
    </div>
    
    <h1>Sélectionnez une ville</h1>
        <select name="city">
            <option value="">--Please choose an option--</option>
            {{ range  .Loc }}
          
                <option value="{{ . }}">{{ . }}</option>
        
            {{ end }}
        </select>
        <button type="submit">Go</button>
    
</form>
    <section class="cart-art">
        <div class="data">
            {{ range .Da }}
                <a href="/profil?id={{ .ID }}">
                    <div>
                        <img src="{{ .Image }}" alt="{{ .Name }}" class="Image"><br>
                        <span class="name">{{ .Name }}</span><br>
                        <span class="CreationDate">{{ .CreationDate }}</span><br>
                        <span class="FirstAlbum">{{ .FirstAlbum }}</span>
                    </div>
                </a>
            {{ end }}
        </div>
    </section>
<script src="template/script.js"></script>
<script>
    function updateRange() {
        const range = document.getElementById('range');
        const rangeValue = document.getElementById('rangeValue');
        
        // Update displayed value
        rangeValue.textContent = range.value;
    }
</script>
</body>