<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">


</head>

<h1 class="h1">
    <a href="/">Groupie Tracker</a>
</h1>

<div class="search-container">
    <form action="/search" method="get" >
    <input name="s" type="text" id="search" placeholder="Search..." required  oninput="showSuggestions(this.value)">
</form>
    <div id="suggestions"></div>
</div>
<div>
    <label>creation date :</label><br>
    <input type="number" id="creation_date_min" max="2015" min="1958"><label for="creation_date_min">min</label>
    <input type="number" id="creation_date_max" max="2015" min="1958"><label for="creation_date_max">max</label>
</div>
<div>
    <label>first album date : </label><br>
    <input type="number" id="first_album_date_min" max="2020" min="1958"><label for="first_album_date_min">min</label>
    <input type="number" id="first_album_date_max" max="2020" min="1958"><label for="first_album_date_max">max</label>
</div>
<div>
    <label for="">number of members :</label>
    <input type="number" id="num_members" max="15" min="0">
</div>
<div>
    <label for="">Location :</label><br>
    <input type="checkbox" id="locUS" value="US"><label for="locUS">US</label>
    <input type="checkbox" id="locUK" value="UK"><label for="locUK">UK</label>
    <input type="checkbox" id="locEU" value="EU"><label for="locEU">EU</label>
    <input type="checkbox" id="locOther" value="Other"><label for="locOther">Other</label>
</div>
<section class="cart-art">
    <div class="data">
        {{ range .}}
        <a href="/profil?id={{ .ID }}">
            <div>
                <img src="{{.Image}}" alt="{{ .Name}}" class="Image"><br>
                <span class="name">{{ .Name }}</span><br>
                <span class="CreationDate">{{ .CreationDate}}</span><br>
                <span class="FirstAlbum">{{ .FirstAlbum}}</span>
            </div>
        </a>
        {{ end }}
    </div>

</section>
<script src="template/script.js"></script>



