<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <header class="h1">
        <h1><a href="/">Back</a></h1>
    </header>

    <div class="data">
        {{ range . }}
        <a href="/profil?id={{ .ID }}">
            <div class="card">
                <img src="{{.Image}}" alt="{{ .Name}}" class="Image"><br>
                <span class="name">{{ .Name }}</span><br>
                <span class="FirstAlbum">{{ .Type }}</span>
            </div>
        </a>
        {{ end }}
    </div>
</body>
<script>
    // Add your script here if needed
</script>
</html>
